:root {
    --primary: #4BB4E6;
    --pink: #FFB4E6;
    --purple: #A885D8;
    --yellow: #FFD200;
    --secondary: #d8d9db;
    --orange: #FF7900;
    --success:#50BE87;
    --dark:#000000;
    --white:#FFFFFF;
}

.sidebar-dark-primary{
   background-color: var(--dark) !important;
   color: var(--white) !important;
}


.bg-blue, li>a>.active, strong>a{
    color: var(--orange) !important;
}

ol>li>a{
    text-decoration: none !important;
    color: var(--dark) !important;
}

ol>li>a:hover{
    color: var(--orange) !important;
}
